MYSQL_DATABASE=task_wp263
MYSQL_USER=taskAdmin
MYSQL_PASSWORD=queso
MYSQL_ROOT_PASSWORD=secreto

WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_NAME= task_wp263
WORDPRESS_DB_USER=taskAdmin
WORDPRESS_DB_PASSWORD=queso
WORDPRESS_TABLE_PREFIX=wp_

PMA_HOST=db_task
PMA_USER=root
UPLOAD_LIMIT=64M
PMA_PASSWORD=secreto